body {
  background-color: plum;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
img {
  max-width: 100%;
}
button {
  display: block;
  margin: 0 auto;
  border: 1px solid plum;
  background-color: white;
  font-size: 24px;
  border-radius: 6px;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
}
button:hover {
  background: plum;
  cursor: pointer;
}
footer {
  text-align: center;
  margin-top: 10px;
}
a {
  text-decoration: none;
}
.container {
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
}
.theme-button {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 5px 8px;
}
.theme-button:hover {
  color: black;
  background-color: white;
}
